@font-face {
    font-family: "COCOGOOSE"; 
    src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot"); 
    src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg"); 
}

body {
    font-family: 'Lato', ;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    color: #EC5242;  
}

#active {
    color: #EC5242;
}

/* Navigation bar */

.firstNavbar {
    background-color: #272A31;
}

.firstNavbar ul {
    display: flex;
    justify-content: flex-end;
}

.firstNavbar li {
    padding: 1em;
}

.firstNavbar li:last-child {
    margin-right: 10em;
}

.secondNavbar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.nav-logo {
    display: flex;
}

.fa-bootstrap {
    color: rgb(243, 18, 48);
}

.nav-logo-text {
    margin-left: .3em;
}

.nav-links {
    display: flex;
}

.nav-links li {
    padding: 1em;
    list-style: none;
}

.nav-links a {
    color: #272A31;
}

.btn {
    border: 4px solid #EC5242;
    padding: 1em;
    color: #EC5242;
    margin-left: 2em;
}

.btn:hover {
    background-color: #272A31;
    color: white;
}

/* main-event */
.main-event {
    background: linear-gradient(to bottom, rgba(73, 70, 70, 0.9), rgba(245, 243, 243, 0.966)),
    url('./images/Music-Live-Bands-in-Lagos.jpg')no-repeat center center/cover;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 50%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-event h4 {
    color: #EC5242;
    font-size: 1.5rem;
}

.main-event h1 {
    font-family: cocogoose, sans-serif; 
    color: #EC5242;
    font-size: 3rem;
    line-height: 1.2;
}

.main-event p {
    color: #272A31;
    line-height: 1.5;
    margin-top: 2em;
    border: 2px solid white;
    padding: 1em;
    width: 60%;
    font-weight: bolder;
}

.main-event h2 {
    font-size: 1.5rem;
    margin-top: 2em;
    color: #272A31;
    font-family: cocogoose, sans-serif; 
    text-transform: uppercase;
}

.main-event h3 {
    margin-top: 1em;
    color: #272A31;
    line-height: 1.2;
    font-size: 1.2rem ;
}

.side-attraction {
    background-color: black;
}

.side-attraction h2{
    color: white;
    margin: 0 auto;
}

hr {
    margin-top: 10px;
    border: 1px solid #ec5242;
    border-radius: 5px;
    width: 3vw;
}

.side-program {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.side-program div {
    border: 1px solid #272A31;
    background: #272A31;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-program h3 {
    color: #EC5242;
    margin-top: .5em;
}

.side-program p {
    margin-top: .5em;
    text-align: center;
    line-height: 1.5;
    color: white;
}

.program-link {
    margin: 0 auto;
    text-decoration: underline;
    margin-top: 2em;
}

.fa-napster, .fa-gamepad, .fa-play-circle, .fa-suitcase {
    color: #D3D3D3;
}

.artist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    position: relative;
    margin-top: 2em;
}

.artist-section {
    display: flex;
    justify-content: space-between;
}

.artist-image img {
    width: 5rem;
    position: relative;
}

.artist-image .main-artist-img {
    position: absolute;
    width: 7rem;
    top: 15px;
    left: 6px;
}

.artist-image .main-artist-img2 {
   position: absolute;
   width: 7rem;
   top: 15px;
   left: 52.1%;
 
}

.artist-image .main-artist-img3 {
    position: absolute;
    width: 7rem;
    top: 27vh;
    left: 6px;
}

.artist-image .main-artist-img4 {
    position: absolute;
    width: 7rem;
    top: 27vh;
    left: 52.1%;
}

.artist-image .main-artist-img5 {
    position: absolute;
    width: 7rem;
    top: 51vh;
    left: 6px;
}

.artist-image .main-artist-img6 {
    position: absolute;
    width: 7rem;
    top: 51vh;
    left: 52.1%;
}



.artist-info {
    margin-left: 3em;
}

.artiste h2 {
    margin: 0 auto; 
    font-size: 2rem; 
}

.artist-info i {
    color: #ec5242;
}

.artist-info h3 {
    margin-bottom: .3em;
}

.artist-info p {
    line-height: 1.2;
}

.grey-horizontal {
    margin-top: 7px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-right: 12em;
    width: 2vw; 
}